# Visual Studio temporary files
.vs/
ProjectManagement/.vs/ProjectManagement/FileContentIndex/03d5de2d-f087-4c8b-bfb4-4b36b4b3e45f.vsidx
ProjectManagement/.vs/ProjectManagement/FileContentIndex/f15e2af7-9ab3-4f76-81ee-9bbdcece5dbf.vsidx
